asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
Django==5.1.1
execnet==2.1.2
Faker==40.27.0
flake8==7.1.1
idna==3.18
iniconfig==2.3.0
mccabe==0.7.0
packaging==26.2
pluggy==1.6.0
py==1.11.0
pycodestyle==2.12.1
pydocstyle==6.3.0
pyflakes==3.2.0
pytest==8.3.3
pytest-django==4.12.0
pytest-forked==1.6.0
pytest-xdist==3.8.0
requests==2.34.2
requests-mock==1.12.1
snowballstemmer==3.1.1
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
