{% extends "base.html" %}

{% block title %}Наши правила — Блогикум{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>Наши правила</h1>
    <p><b>Самовыражение.</b> У наших пользователей должна быть возможность создать что-то своё.</p>
    <p><b>Многообразие.</b> Мы уважаем и приветствуем разные мнения и культуры.</p>
    <p><b>Творчество.</b> Не важно, в какой области вы творите. Наши инструменты помогут вам раскрыть талант.</p>
    <p><b>Личность.</b> Мы сохраним ваши сокровенные мысли в тайне.</p>
</div>
{% endblock %}
