{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Блогикум{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🐍</text></svg>">
  </head>
  <body class="d-flex flex-column h-100 bg-light">
    {% include "includes/header.html" %}

    <main class="container my-5 flex-shrink-0">
      <div class="row justify-content-center">
        <div class="col-md-8 bg-white p-5 border rounded shadow-sm">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    {% include "includes/footer.html" %}
  </body>
</html>
